/* laptop device */

@media screen and (max-width: 1200px) {
    .banner-content h1{
    font-size: 48px;
    
}
.service-card{
    padding: 80px 20px;
}

.story-img img {
    
    height: 100% ;
    object-fit: cover;
    border-radius: 30px;
}
}


/* tablet device */
@media screen and (max-width: 1040px) {
    .banner{
        flex-direction: column-reverse;
    align-items: center;
}

.banner-content{
    width: 100%;
    
}
.banner-img{
    width: 100%;
}
.service-card-container{
    flex-direction: column;
}
.service-card{
    max-width: 100%;
}
.story-card{
    flex-direction: column;
}

.story-content{
    width: 100%;
}

.story-img{
    width: 100%;
}

}

/* mobile device */
@media screen and (max-width: 640px) {
    .btn-box{
        text-align: center;
    }
    .btn{
        margin-bottom: 10px;
    }
    .banner-content h1{
    font-size: 36px;
    
}
.heading-content h2{
    font-size: 40px;
}

.country-card-container{
    flex-direction: column;
    text-align: center;
}

}